body {
  background-image: linear-gradient(to right, #ffd89b, #19547b);
  font-family: sans-serif;
}

.container {
  color: #FFFFFF;
  margin-top: 100px;
  padding: 15px;
  background-color: #063554;
}

a {
  margin: 50px;
  color: #ffd89b;
}

a:hover {
  color: #FFFFFF;
}
