<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <h1>To Do List</h1>
    <h3>You can add new to do list items, sort by catagory and add a due date so things get done!</h3>
  <a href="/categories">View categories</a>
  <a href="/categories/new">Add new category</a>
  </div>
</body>
</html>
